<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
        <footer>
            <div class="footer-container"></div>
               <p>&copy; <%= new Date().getFullYear() %> <%= footerName %>. All rights reserved.</p>
            </div>
        </footer>
    
</body>
</html>
